<nav class="navbar navbar-default navbar-fixed-top">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">
                          <img alt="Brand" src="{{ asset('softs2.png') }}"></a>
                          <a class="navbar-brand" href="#"> <h2>LA TERRASSE</h2>
                          </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li  ><a href="{{ path('article_index') }}">ACCEUIL <span class="glyphicon glyphicon-home"></span> <span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ path('commande_new') }}"> VENTE <span class="glyphicon glyphicon-euro"></a></li>

                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                STATISTIQUES
                                <span class="glyphicon glyphicon-calendar"><span class="caret"></span></a>                                
                             <ul class="dropdown-menu">
                                <li><a href="{{ path('point_jour') }}">Point Jour</a></li>
                                <li><a href="{{ path('point_periode') }}">Point Periode <span class="glyphicon glyphicon-time"></a></li>
                              </ul>
                            </li>
            

                             
                             
                          </ul>
                           
                          <ul class="nav navbar-nav navbar-right">
                             
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                              Bienvenue {{app.user.username}}
                              {% else %}
                              Mon Compte
                              {% endif %}

                              <span class="glyphicon glyphicon-user"><span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_profile_show') }}">Modifier Compte</a></li>
                                <li><a href="{{ path('fos_user_profile_edit') }}">Edité</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">
                              {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                              .<span class="glyphicon glyphicon-off"></a></li>
                              </ul>
                            </li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>